html, body {
  width:  100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 26px;
}
#canvas {
	background-color: #F8F8F8;
}
.body,
.wrapper {
  /* Break the flow */
  position: absolute;
  top: 0px;

  /* Give them all the available space */
  width: 100%;
  height: 100%;

  /* Remove the margins if any */
  margin: 0;

  /* Allow them to scroll down the document */
  overflow-y: hidden;
}

.body {
  /* Sending body at the bottom of the stack */
  z-index: 1;
}

.wrapper {
  /* Making the wrapper stack above the body */
  z-index: 2;
}